#container {
	padding: 8px 0px 8px 0px;
	margin-bottom: 18px;
	width: 300px;
	border: 3px solid #DAE3D2;
	-webkit-border-radius: 4px;
	-moz-border-radius: 
	4px;border-radius: 4px;	
	background: white;color: 
	#c09853;margin-left: auto ;    
	margin-right: auto ;
}